# 2603655_DataAcquisition

## Set (OJT on Perplexity)

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
---

source: [perplexity](https://www.perplexity.ai/page/kaarthmaangaankab-set-python-FTJYBWdUQn6DHaHZAnHRjQ)

In [9]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
print("pandas version :",pd.__version__)
print("numpy version :",np.__version__)
print("matplotlib version :",mpl.__version__)
print("seaborn version :",sns.__version__)

pandas version : 2.2.1
numpy version : 1.26.4
matplotlib version : 3.8.4
seaborn version : 0.13.2

In [10]:
from datetime import datetime
str(datetime.now())

'2024-09-09 18:33:09.302796'

### create set from list and tuple
- set(list)
- set(tuple)
- set comprehension
- set(dict.fromkeys(list))

In [12]:
my_list = [1, 2, 3, 2, 4, 1]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [13]:
my_tuple = (1, 2, 3, 2, 4, 1)
my_set = set(my_tuple)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [14]:
my_list = [1, 2, 3, 4, 5]
my_set = {x for x in my_list if x % 2 == 0}
print(my_set)  # Output: {2, 4}

{2, 4}

In [ ]:
my_set = set(dict.fromkeys(my_list))
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

### apply set as filtering
- set(list)
- set comprehension
- list comprehension of dict
- list(set(map(frozenset,data)))

In [17]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(original_list)
unique_list = list(unique_set)
print(unique_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [18]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list({x for x in original_list})
print(unique_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [19]:
data = [{'id': 1, 'name': 'Alice'}, {'id': 2, 'name': 'Bob'}, {'id': 1, 'name': 'Alice'}]
unique_data = list({v['id']:v for v in data}.values())
print(unique_data)  # Output: [{'id': 1, 'name': 'Alice'}, {'id': 2, 'name': 'Bob'}]

[{'id': 1, 'name': 'Alice'}, {'id': 2, 'name': 'Bob'}]

In [20]:
data = [(1, 2), (3, 4), (1, 2), (5, 6)]
unique_data = list(set(map(frozenset, data)))
unique_tuples = [tuple(x) for x in unique_data]
print(unique_tuples)  # Output: [(1, 2), (3, 4), (5, 6)]

[(3, 4), (5, 6), (1, 2)]

### update() for set
- set1.update(set2)
- set1.update(list,dict,tuple,...)
- set1.update(dict)
- set1 |= set2

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [23]:
my_set = {1, 2, 3}
my_list = [3, 4, 5]
my_set.update(my_list)
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [24]:
my_set = {1, 2, 3}
my_set.update([4, 5], {6, 7}, (8, 9))
print(my_set)  # Output: {1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
my_set = {1, 2, 3}
my_dict = {4: 'four', 5: 'five'}
my_set.update(my_dict)
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 |= set2
print(set1)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

### remove data from set
- set.remove(value)
- set.discard(value)
- set.pop(value)
- set.clear()
- set - {, ,}
- set.difference(set)
- set comprehension(condition if x not in { , })

In [28]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [57]:
# my_set.remove(6)  # จะเกิด KeyError

In [30]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)  # Output: {1, 2, 4, 5}
my_set.discard(6)  # ไม่เกิด error
print(my_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}
{1, 2, 4, 5}

In [32]:
my_set = {1, 2, 3, 4, 5}
removed_item = my_set.pop()
print(removed_item)  # Output: จะเป็นค่าใดค่าหนึ่งใน Set
print(my_set)  # Output: Set ที่เหลือหลังจากลบค่าออกไป

1
{2, 3, 4, 5}

In [34]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)  # Output: set()

set()

In [36]:
my_set = {1, 2, 3, 4, 5}
new_set = my_set - {3, 4}
print(new_set)  # Output: {1, 2, 5}

{1, 2, 5}

In [38]:
new_set = my_set.difference({3, 4})
print(new_set)  # Output: {1, 2, 5}

{1, 2, 5}

In [40]:
my_set = {1, 2, 3, 4, 5}
new_set = {x for x in my_set if x not in {3, 4}}
print(new_set)  # Output: {1, 2, 5}

{1, 2, 5}

### set operation
- set1.union(set2)
- set1.intersection(set2)
- set1.difference(set2,set3)
- set1.symmetric_difference(set2)

In [43]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
# Alternatively: union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [45]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
# Alternatively: intersection_set = set1 & set2
print(intersection_set)  # Output: {3}

{3}

In [47]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_set = set1.difference(set2)
# Alternatively: difference_set = set1 - set2
print(difference_set)  # Output: {1, 2, 3}

{1, 2, 3}

In [49]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
union_all = set1.union(set2, set3)
intersection_all = set1.intersection(set2, set3)
print(union_all)  # Output: {1, 2, 3, 4, 5, 6, 7}
print(intersection_all)  # Output: set()

{1, 2, 3, 4, 5, 6, 7}
set()

In [51]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_diff = set1.symmetric_difference(set2)
# Alternatively: symmetric_diff = set1 ^ set2
print(symmetric_diff)  # Output: {1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}