# 2603655_DataAcquisition

## List (OJT on Perplexity)

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
---

source: [perplexity](https://www.perplexity.ai/page/kaarthmaangaankab-list-python-g1HAoyZoR8KEFejq_N7zJA)

In [5]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
print("pandas version :",pd.__version__)
print("numpy version :",np.__version__)
print("matplotlib version :",mpl.__version__)
print("seaborn version :",sns.__version__)

pandas version : 2.2.1
numpy version : 1.26.4
matplotlib version : 3.8.4
seaborn version : 0.13.2

In [6]:
from datetime import datetime
str(datetime.now())

'2024-09-09 18:03:42.951838'

In [ ]:
# list.append
# list.clear
# list.copy
# list.count
# list.extend
# list.index
# list.insert
# list.mro
# list.pop
# list.remove
# list.reverse
# list.sort

### list comprehension
> new_list = \[**expression** for **item** in **iterable** if **condition** \]

In [9]:
squares = [x**2 for x in range(10)]
squares
# ผลลัพธ์: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
even_numbers = [x for x in range(10) if x % 2 == 0]
even_numbers
# ผลลัพธ์: [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [11]:
fruits = ["apple", "banana", "cherry"]
uppercase_fruits = [fruit.upper() for fruit in fruits]
uppercase_fruits
# ผลลัพธ์: ['APPLE', 'BANANA', 'CHERRY']

['APPLE', 'BANANA', 'CHERRY']

In [12]:
matrix = [[j for j in range(3)] for i in range(3)]
matrix
# ผลลัพธ์: [[0, 1, 2], [0, 1, 2], [0, 1, 2]]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

### access data by index slicing
- list[ ]
- list[ : ]
- list[ : : ]
- list.index(label)
- enumerate(list)

check validity
- try | except ValueError
- if | else

#### enumerate
*Syntax*: `enumerate`(iterable, start=0)

**Iterable**: any object that supports iteration<br>
**Start**: the index value from which the counter is to be started, by default it is 0

*Return*: Returns an iterator with index and element pairs from the original iterable

In [14]:
fruits = ["apple", "banana", "cherry", "date"]
print(fruits[0])  # "apple"
print(fruits[2])  # "cherry"

apple
cherry

In [15]:
print(fruits[-1])  # "date" (สมาชิกตัวสุดท้าย)
print(fruits[-2])  # "cherry" (สมาชิกตัวรองสุดท้าย)

date
cherry

In [16]:
print(fruits[1:3])   # ["banana", "cherry"]
print(fruits[:2])    # ["apple", "banana"]
print(fruits[2:])    # ["cherry", "date"]
print(fruits[::2])   # ["apple", "cherry"] (ข้ามทีละ 2)

['banana', 'cherry']
['apple', 'banana']
['cherry', 'date']
['apple', 'cherry']

In [17]:
print(fruits.index("banana"))  # 1

1

In [19]:
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry
Index 3: date

In [20]:
even_indexed = [fruit for index, fruit in enumerate(fruits) if index % 2 == 0]
print(even_indexed)  # ["apple", "cherry"]

['apple', 'cherry']

In [21]:
fruits[1:3] = ["grape", "kiwi"]
print(fruits)  # ["apple", "grape", "kiwi", "date"]

['apple', 'grape', 'kiwi', 'date']

In [22]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers[::2])   # [0, 2, 4, 6, 8]
print(numbers[::-1])  # [9, 8, 7, 6, 5, 4, 3, 2, 1, 0] (กลับลำดับ list)

[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [23]:
try:
    index = fruits.index("mango")
except ValueError:
    print("Mango is not in the list")

Mango is not in the list

In [24]:
if "mango" in fruits:
    index = fruits.index("mango")
else:
    print("Mango is not in the list")

Mango is not in the list

### sort data in list
- list.sort()
- sorted(list,key=func)

In [26]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
numbers.sort()
print(numbers)  # [1, 1, 2, 3, 3, 4, 5, 5, 6, 9]

[1, 1, 2, 3, 3, 4, 5, 5, 6, 9]

In [27]:
numbers.sort(reverse=True)
print(numbers)  # [9, 6, 5, 5, 4, 3, 3, 2, 1, 1]

[9, 6, 5, 5, 4, 3, 3, 2, 1, 1]

In [28]:
original = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
sorted_list = sorted(original)
print(sorted_list)  # [1, 1, 2, 3, 3, 4, 5, 5, 6, 9]
print(original)     # [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

[1, 1, 2, 3, 3, 4, 5, 5, 6, 9]
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

In [29]:
# เรียงตามความยาวของ string
words = ["python", "programming", "list", "sorting"]
sorted_words = sorted(words, key=len)
print(sorted_words)  # ['list', 'python', 'sorting', 'programming']

['list', 'python', 'sorting', 'programming']

In [30]:
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 20}
]
sorted_people = sorted(people, key=lambda x: x["age"])
print(sorted_people)
# [{'name': 'Charlie', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

[{'name': 'Charlie', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [31]:
data = [("Alice", 25), ("Bob", 30), ("Charlie", 20), ("David", 25)]
sorted_data = sorted(data, key=lambda x: (x[1], x[0]))
print(sorted_data)
# [('Charlie', 20), ('Alice', 25), ('David', 25), ('Bob', 30)]

[('Charlie', 20), ('Alice', 25), ('David', 25), ('Bob', 30)]

### combine lists
- \+
- list.extend(list)
- list comprehension: item for list in lists
- list(chain(listA,listB,..)) *(from itertools import chain)*
- sum(lists,[])

In [33]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [34]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)  # ['a', 'b', 'c', 1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [35]:
lists = [[1, 2], [3, 4], [5, 6]]
combined = [item for sublist in lists for item in sublist]
print(combined)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [36]:
from itertools import chain
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
combined = list(chain(list1, list2, list3))
print(combined)  # [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
lists = [[1, 2], [3, 4], [5, 6]]
combined = [*lists]
print(combined)  # [[1, 2], [3, 4], [5, 6]]

# หากต้องการ flatten List
flattened = [item for sublist in lists for item in sublist]
print(flattened)  # [1, 2, 3, 4, 5, 6]

[[1, 2], [3, 4], [5, 6]]
[1, 2, 3, 4, 5, 6]

In [38]:
lists = [[1, 2], [3, 4], [5, 6]]
combined = sum(lists, [])
print(combined)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

### delete data in list
- del list\[index]
- list.remove(value)
- list.pop(index)
- list.clear()
- list comprehension *>> condition*
- list(filter(lambda))

In [40]:
fruits = ["apple", "banana", "cherry", "date"]
del fruits[1]  # ลบ "banana"
print(fruits)  # ["apple", "cherry", "date"]

del fruits[1:3]  # ลบ "cherry" และ "date"
print(fruits)  # ["apple"]

['apple', 'cherry', 'date']
['apple']

In [41]:
numbers = [1, 2, 3, 2, 4]
numbers.remove(2)  # ลบเลข 2 ตัวแรกที่พบ
print(numbers)  # [1, 3, 2, 4]

[1, 3, 2, 4]

In [42]:
colors = ["red", "green", "blue"]
removed_color = colors.pop(1)  # ลบและคืนค่า "green"
print(colors)  # ["red", "blue"]
print(removed_color)  # "green"

last_color = colors.pop()  # ลบและคืนค่าสมาชิกตัวสุดท้าย
print(colors)  # ["red"]
print(last_color)  # "blue"

['red', 'blue']
green
['red']
blue

In [43]:
items = [1, 2, 3, 4, 5]
items.clear()
print(items)  # []

[]

In [44]:
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = [x for x in numbers if x % 2 != 0]  # เก็บเฉพาะเลขคี่
print(odd_numbers)  # [1, 3, 5]

[1, 3, 5]

In [45]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))  # เก็บเฉพาะเลขคู่
print(even_numbers)  # [2, 4, 6]

[2, 4, 6]

### add data to list
- list.append(value)
- insert(index,value)
- list.extend(list)

In [47]:
fruits = ["apple", "banana"]
fruits.append("cherry")
print(fruits)  # ["apple", "banana", "cherry"]

['apple', 'banana', 'cherry']

In [48]:
numbers = [1, 2, 4]
numbers.insert(2, 3)  # แทรก 3 ที่ตำแหน่ง index 2
print(numbers)  # [1, 2, 3, 4]

[1, 2, 3, 4]

In [49]:
list1 = [1, 2, 3]
list2 = [4, 5]
list1.extend(list2)
print(list1)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [50]:
list1 = [1, 2]
list2 = [3, 4]
new_list = list1 + list2
print(new_list)  # [1, 2, 3, 4]

[1, 2, 3, 4]

In [51]:
numbers = [1, 2, 3]
squared = [x**2 for x in numbers]
print(squared)  # [1, 4, 9]

[1, 4, 9]

In [52]:
original = [1, 2, 3]
new_list = original.copy()
new_list.extend([4, 5])
print(new_list)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [53]:
numbers = [1, 2, 5, 6]
numbers[2:2] = [3, 4]  # แทรก [3, 4] ที่ตำแหน่ง index 2
print(numbers)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

### create dataframe
- from list of list: *pd.Dataframe(data,columns=list)*
- from list of dictionary: *pd.Dataframe(data)*
- from dictionary of list: *pd.Dataframe(data)*
- from list of tuple: *pd.Dataframe(data,columns=list)*

In [55]:
import pandas as pd

data = [
    ['John', 25, 'Engineer'],
    ['Alice', 30, 'Manager'],
    ['Bob', 35, 'Analyst']
]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Job'])
print(df)

    Name  Age       Job
0   John   25  Engineer
1  Alice   30   Manager
2    Bob   35   Analyst

In [56]:
import pandas as pd

data = [
    {'Name': 'John', 'Age': 25, 'Job': 'Engineer'},
    {'Name': 'Alice', 'Age': 30, 'Job': 'Manager'},
    {'Name': 'Bob', 'Age': 35, 'Job': 'Analyst'}
]
df = pd.DataFrame(data)
print(df)

    Name  Age       Job
0   John   25  Engineer
1  Alice   30   Manager
2    Bob   35   Analyst

In [57]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 35],
    'Job': ['Engineer', 'Manager', 'Analyst']
}
df = pd.DataFrame(data)
print(df)

    Name  Age       Job
0   John   25  Engineer
1  Alice   30   Manager
2    Bob   35   Analyst

In [58]:
import pandas as pd

data = [
    ('John', 25, 'Engineer'),
    ('Alice', 30, 'Manager'),
    ('Bob', 35, 'Analyst')
]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Job'])
print(df)

    Name  Age       Job
0   John   25  Engineer
1  Alice   30   Manager
2    Bob   35   Analyst

In [59]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# สร้างคอลัมน์ใหม่โดยใช้ List Comprehension
df['C'] = [x * 2 for x in df['A']]

# กรองข้อมูลโดยใช้ List Comprehension
filtered_df = df[[x > 2 for x in df['A']]]