# 2603655_DataAcquisition

## Pandas_advanced (OJT on Perplexity)

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
---

source: [perplexity](https://www.perplexity.ai/page/pandas-dataframe-khansuung-5fsTZ55vTHOY15Ja8whdsg)

In [6]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
print("pandas version :",pd.__version__)
print("numpy version :",np.__version__)
print("matplotlib version :",mpl.__version__)
print("seaborn version :",sns.__version__)

pandas version : 2.2.1
numpy version : 1.26.4
matplotlib version : 3.8.4
seaborn version : 0.13.2

In [11]:
from datetime import datetime
str(datetime.now())

'2024-09-09 16:42:52.684262'

### combine dataframe
- Concat
  - pd.concat(\[dfs],axis=0,ignore_index=False)
- Merge
  - df.merge(right,
  - pd.merge(left, right, how='inner',on=None,left_on=None, right_on=None,left_index=False, right_index=False,sort=False, suffixes=('_x', '_y'))
- Join
  - ใช้ได้กับ df,index,series
  - DataFrame.join(other, on=None, how='left', lsuffix=' ', rsuffix=' ',

In [ ]:
# # การรวมข้อมูลแนวตั้ง
# result = pd.concat([df1, df2, df3], ignore_index=True)

# # การ merge ข้อมูลโดยใช้คอลัมน์ร่วม
# merged_df = pd.merge(df1, df2, on='customer_id', how='left')

# # การ join ข้อมูลโดยใช้ index
# joined_df = df1.join(df2, lsuffix='_left', rsuffix='_right')

### apply

In [26]:
import pandas as pd
import numpy as np

students = pd.Series(data=[180, 175, 168, 190],
                     index=['Vik', 'Mehdi', 'Bella', 'Chriss'])

def cm_to_feet(h):
    return np.round(h/30.48, 2)

print(students.apply(cm_to_feet))

Vik       5.91
Mehdi     5.74
Bella     5.51
Chriss    6.23
dtype: float64

In [10]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})

# ใช้ apply() กับทุกคอลัมน์
df1 = df.apply(lambda x: x * 2)
display(df1)
# ใช้ apply() กับทุกแถว
df2 = df.apply(lambda x: x.sum(), axis=1)
display(df2)

   A   B
0  2  20
1  4  40

0    11
1    22
dtype: int64

In [ ]:
def categorize_price(price):
    if price < 200:
        return "Low"
    elif 200 <= price < 400:
        return "Normal"
    else:
        return "High"

df['Price_Category'] = df['Price'].apply(categorize_price)

In [ ]:
def multiply(x, y, z):
    return x * y * z

df['Result'] = df['Value'].apply(multiply, args=(2, 3))

### pd.plot

- **Line Plot**: เป็นกราฟเส้นพื้นฐานที่สร้างได้โดยใช้ df.plot() หรือ series.plot() โดยไม่ต้องระบุพารามิเตอร์เพิ่มเติม
- **Scatter Plot**: สร้างได้โดยใช้ df.plot(kind='scatter', x='column1', y='column2') เหมาะสำหรับแสดงความสัมพันธ์ระหว่างตัวแปรสองตัว
- **Bar Plot**: ใช้ df.plot(kind='bar') สำหรับแท่งแนวตั้ง หรือ df.plot(kind='barh') สำหรับแท่งแนวนอน เหมาะกับการเปรียบเทียบค่าระหว่างหมวดหมู่
- **Histogram**: สร้างด้วย df['column'].plot(kind='hist') เพื่อแสดงการกระจายตัวของข้อมูล
- **Box Plot**: ใช้ df.plot(kind='box') เพื่อแสดงสถิติสรุปของข้อมูล เช่น ค่ามัธยฐาน ควอไทล์ และค่าผิดปกติ
- **Area Plot**: สร้างด้วย df.plot(kind='area') เหมาะสำหรับแสดงข้อมูลสะสมหรือเปรียบเทียบสัดส่วน
- **Pie Chart**: ใช้ df.plot.pie(y='column') เพื่อแสดงสัดส่วนของข้อมูลในรูปแบบวงกลม

- การกำหนดสี: ใช้พารามิเตอร์ color='color_name' หรือ cmap='colormap_name'
- การเพิ่มชื่อแกนและชื่อกราฟ: ใช้ plt.xlabel(), plt.ylabel(), และ plt.title()
- การสร้าง subplots: ใช้พารามิเตอร์ subplots=True ใน df.plot()

### pivot_table
- pd.pivot_table(df, values=, index=, columns=, aggfunc=)
- pd.pivot_table(df, values=list, index=list, columns=list, aggfunc=)

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'Temperature': [32, 75, 30, 77],
    'Weather': ['rainy','cloudy','warm','cloudy'],
    'Humidity': [75,80,70,83],
})

pivot = pd.pivot_table(df, values='Temperature', index='Date', columns='City', aggfunc='mean')
print(pivot)

City        Los Angeles  New York
Date
2023-01-01         75.0      32.0
2023-01-02         77.0      30.0

In [22]:
pivot = pd.pivot_table(df, values=['Temperature', 'Humidity'], 
                       index=['Date', 'City'], 
                       columns='Weather', 
                       aggfunc={'Temperature': 'mean', 'Humidity': ['mean', 'max']})
pivot

                       Humidity                                Temperature  \
                            max               mean                    mean
Weather                  cloudy rainy  warm cloudy rainy  warm      cloudy
Date       City
2023-01-01 Los Angeles     80.0   NaN   NaN   80.0   NaN   NaN        75.0
           New York         NaN  75.0   NaN    NaN  75.0   NaN         NaN
2023-01-02 Los Angeles     83.0   NaN   NaN   83.0   NaN   NaN        77.0
           New York         NaN   NaN  70.0    NaN   NaN  70.0         NaN



Weather                rainy  warm
Date       City
2023-01-01 Los Angeles   NaN   NaN
           New York     32.0   NaN
2023-01-02 Los Angeles   NaN   NaN
           New York      NaN  30.0

### query
- df.query('condition: use 'colname', not series')
- df.query('condition1 == "str value" ')
- df.query('condition1 and condition2')

In [ ]:
# df.query('age > 35')
# df.query('age > 35 and gender == "Male"')

# threshold = 35
# df.query('age > @threshold')
# df.query('`Total Sales` > 1000')
# df.query('column_a > column_b')
# df.query('column_a.str.contains("pattern")')

### sort_values()
- sort_values(by = label, ascending = bool, inplace = bool, na_position = {'first','last'}, key = func)
- sort_values(by = list, ascending = list of bool)

In [ ]:
# df.sort_values(by='column_name', ascending=True)
# df.sort_values(by=['column1', 'column2'], ascending=[True, False])
# df.sort_index(ascending=True)
# df.sort_values(by='column_name', ascending=True, inplace=True)
# df.sort_values(by='column_name', na_position='first')
# df.sort_values(by='column_name', key=lambda x: abs(x))

# from pandas.api.types import CategoricalDtype
# cat_order = CategoricalDtype(['Low', 'Medium', 'High'], ordered=True)
# df['category'] = df['category'].astype(cat_order)
# df.sort_values('category')

### iloc, loc
- df.iloc\[idxrownum, idxcolnum]
- df.loc\[label, label]
- df.loc\[row condition, \['column']]
- df.loc\[ **(** row condition  **)** &| **(** row condition **)**]
- df.loc\[\[row condition]]  >> return Dataframe

In [16]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
display(df)
print(df.iloc[1, 2])  # ผลลัพธ์: 8

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

8

In [14]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['x', 'y', 'z'])
display(df)
print(df.loc['y', 'B'])  # ผลลัพธ์: 5

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

5

### view(display), copy()

In [21]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
view = df['A']
display(view)
view[0] = 100
print(df)  # 'A' column จะเปลี่ยนเป็น [100, 2, 3]

0    1
1    2
2    3
Name: A, dtype: int64

     A  B
0  100  4
1    2  5
2    3  6

In [ ]:
copy = df.copy()
copy['A'][0] = 200
print(df)  # ข้อมูลต้นฉบับไม่เปลี่ยนแปลง

In [ ]:
df['A'][0] = 300  # อาจเป็น view หรือ copy ขึ้นอยู่กับ Pandas version

In [ ]:
df.loc[0, 'A'] = 300

In [ ]:
print(df._is_view)  # True หากเป็น view

In [ ]:
a = np.array([[0, 1, 2], [3, 4, 5]])
df = pd.DataFrame(a)
print(np.shares_memory(a, df))  # True, เป็น view

In [ ]:
a_str = np.array([['a', 'b'], ['c', 'd']])
df_str = pd.DataFrame(a_str)
print(np.shares_memory(a_str, df_str))  # False, เป็น copy

### duplicated(),drop_duplicates()

In [ ]:
# duplicates = df.duplicated()
# duplicates = df.duplicated(subset=['column1', 'column2'])
# duplicate_count = df.duplicated().sum()
# duplicate_rows = df[df.duplicated()]
# df_clean = df.drop_duplicates()
# df_clean = df.drop_duplicates(keep='first')  # หรือ 'last'
# df_clean = df.drop_duplicates(subset=['column1', 'column2'])

# df_grouped = df.groupby(['key_column1', 'key_column2']).agg({
#     'numeric_column': 'mean',
#     'text_column': 'first',
#     'date_column': 'max'
# }).reset_index()
# column_duplicates = df['column_name'].duplicated()
# df_unique_index = df.reset_index().drop_duplicates(subset='index', keep='first').set_index('index')