# 2603655_DataAcquisition

## Dictionary (OJT on Perplexity)

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
---

source: [perplexity](https://www.perplexity.ai/page/kaarthmaangaankab-dictionary-p-3VXZPeaSR6ivv2Rxt5jt3g)

In [5]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
print("pandas version :",pd.__version__)
print("numpy version :",np.__version__)
print("matplotlib version :",mpl.__version__)
print("seaborn version :",sns.__version__)

pandas version : 2.2.1
numpy version : 1.26.4
matplotlib version : 3.8.4
seaborn version : 0.13.2

In [6]:
from datetime import datetime
str(datetime.now())

'2024-09-09 18:55:22.470277'

In [5]:
# method
# dict.clear
# dict.copy
# dict.fromkeys
# dict.get
# dict.items
# dict.keys
# dict.mro
# dict.pop
# dict.popitem
# dict.setdefault
# dict.update
# dict.values

### keys:value

In [2]:
d = {'a': 1, 'b': 2, 'c': 3}
keys = list(d.keys())
values = list(d.values())
print(keys)
print(values)
# keys[0] จะสัมพันธ์กับ values[0], keys[1] กับ values[1], และอื่นๆ

['a', 'b', 'c']
[1, 2, 3]

In [6]:
d = {'a': 1, 'b': 2, 'c': 3}
d['c']

3

### create new dict
- { : , : ,...}
- dict(key1=' ',key2=' ',..)
- dict (list of tuple)
- dict(old_dict, new_keys=' ')
- dict comprehension
- dict.fromkeys(keys,value)
- dict_variable = {key:value for (key,value) in dictonary.items()}

In [76]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [78]:
empty_dict = {}

In [80]:
my_dict = dict(name='John', age=30, city='New York')
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [82]:
my_dict = dict([('name', 'John'), ('age', 30), ('city', 'New York')])
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [84]:
existing_dict = {'name': 'John', 'age': 30}
my_dict = dict(existing_dict, city='New York')
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [10]:
squares_dict = {x: x**2 for x in range(5)}
squares_set = {x**2 for x in range(5)}
# squares_dict
squares_set
# ผลลัพธ์: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0, 1, 4, 9, 16}

In [88]:
keys = ['a', 'b', 'c']
default_value = 0
my_dict = dict.fromkeys(keys, default_value)
my_dict
# ผลลัพธ์: {'a': 0, 'b': 0, 'c': 0}

{'a': 0, 'b': 0, 'c': 0}

### remove items from dict
- del dict\[key]
- dict.pop(key)  >> value
- dict.popitem()
- dict.clear()
- dict comprehension (condition if x not in dicts)

In [91]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']
print(my_dict)  # Output: {'a': 1, 'c': 3}

{'a': 1, 'c': 3}

In [19]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.pop('b')
print(my_dict)  # Output: {'a': 1, 'c': 3}
print(value)    # Output: 2

{'a': 1, 'c': 3}
2

In [20]:
value = my_dict.pop('d', 'Not found')
print(value)  # Output: 'Not found'

Not found

In [21]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
item = my_dict.popitem()
print(my_dict)  # Output: {'a': 1, 'b': 2}
print(item)     # Output: ('c', 3)

{'a': 1, 'b': 2}
('c', 3)

In [22]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.clear()
print(my_dict)  # Output: {}

{}

In [23]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
keys_to_remove = ['b', 'd']
new_dict = {k: v for k, v in my_dict.items() if k not in keys_to_remove}
print(new_dict)  # Output: {'a': 1, 'c': 3}

{'a': 1, 'c': 3}

### sort items in dict
- dict(sorted(dict.items()))
- OrderedDict(sorted(dict.items())) >> list of tuple
- dict(sorted(dict.items(),key=lambda x: x\[1] ) >> sort by value
- dict(sorted(dict.items(),reverse=True )

In [25]:
my_dict = {'b': 2, 'a': 1, 'c': 3}
sorted_dict = dict(sorted(my_dict.items()))
print(sorted_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [26]:
from collections import OrderedDict

my_dict = {'b': 2, 'a': 1, 'c': 3}
sorted_dict = OrderedDict(sorted(my_dict.items()))
print(sorted_dict)  # Output: OrderedDict([('a', 1), ('b', 2), ('c', 3)])

OrderedDict([('a', 1), ('b', 2), ('c', 3)])

In [27]:
my_dict = {'apple': 5, 'banana': 2, 'cherry': 8}
sorted_dict = dict(sorted(my_dict.items(), key=lambda x: x[1]))
print(sorted_dict)  # Output: {'banana': 2, 'apple': 5, 'cherry': 8}

{'banana': 2, 'apple': 5, 'cherry': 8}

In [28]:
my_dict = {'b': 2, 'a': 1, 'c': 3}
sorted_dict = dict(sorted(my_dict.items(), reverse=True))
print(sorted_dict)  # Output: {'c': 3, 'b': 2, 'a': 1}

{'c': 3, 'b': 2, 'a': 1}

### create dataframe from dict
- dictionary of list: *pd.DataFrame(data)*
- dictionary of list: *pd.DataFrame.from_dict(data)*
- dictionary of dictionary: *pd.DataFrame.from_dict(data, oriented='column')*
- list of dictionary: *pd.DataFrame(data)*

#### dictionary of list: *pd.DataFrame(data)*

In [30]:
import pandas as pd

data = {'name': ['Joe', 'Nat', 'Harry'],
        'age': [20, 21, 19],
        'marks': [85.10, 77.80, 91.54]}

df = pd.DataFrame(data)
print(df)

    name  age  marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54

#### dictionary of list: *pd.DataFrame.from_dict(data)*

In [31]:
df = pd.DataFrame.from_dict(data)
print(df)

    name  age  marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54

In [32]:
df = pd.DataFrame.from_dict(data, orient='index')
print(df)

          0     1      2
name    Joe   Nat  Harry
age      20    21     19
marks  85.1  77.8  91.54

#### dictionary of dictionary: *pd.DataFrame.from_dict(data, oriented='index')*

In [33]:
nested_dict = {
    0: {'name': 'Joe', 'age': 20, 'marks': 85.10},
    1: {'name': 'Nat', 'age': 21, 'marks': 77.80},
    2: {'name': 'Harry', 'age': 19, 'marks': 91.54}
}

df = pd.DataFrame.from_dict(nested_dict, orient='index')
print(df)

    name  age  marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54

#### list of dictionary: *pd.DataFrame(data)*

In [34]:
data_list = [
    {'name': 'Joe', 'age': 20, 'marks': 85.10},
    {'name': 'Nat', 'age': 21, 'marks': 77.80},
    {'name': 'Harry', 'age': 19, 'marks': 91.54}
]

df = pd.DataFrame(data_list)
print(df)

    name  age  marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54

In [35]:
df = pd.DataFrame(data, columns=['name', 'marks'])
print(df)

    name  marks
0    Joe  85.10
1    Nat  77.80
2  Harry  91.54