# 2603655_DataAcquisition

## Week8 20241001

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
* [Tableau](https://public.tableau.com/app/profile/yuttapong.m/vizzes)
---

In [ ]:
# !pip install wrds

**Objectives**
- how to use sql in python
- how to use sql wrds database (Wharton)
- recap sql data structure

**SQL data structure**
- schema
  - table
    - features
    - record

## SQL structure
- Database
  - schema
    - table#1
      - field1
      - field2
    - table#2

![SQL](data/dmds.png)

## connect to DB

### explore available schema

In [15]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select schema_name
                from information_schema.schemata
                order by schema_name
                """

result = conn.raw_sql(sql_statement)

conn.close()

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [3]:
result[result['schema_name'].str.contains('score')]

             schema_name
94              comscore
95         comscore_2018
96         comscore_2019
97         comscore_2020
98     comscore_2020_new
99         comscore_2021
100        comscore_2022
101        comscore_2023
102      comscore_common
103  comscore_common_new

In [16]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select table_name,table_schema,table_type
                from information_schema.tables
                where table_schema = 'comscore_2023'
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result)

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

                table_name   table_schema  table_type
0         demographics2023  comscore_2023  BASE TABLE
1              domains2023  comscore_2023  BASE TABLE
2   domains2023_w_month_id  comscore_2023  BASE TABLE
3        prod_category2023  comscore_2023  BASE TABLE
4               ptrans2023  comscore_2023  BASE TABLE
5                   ss277m  comscore_2023  BASE TABLE
6                   ss278m  comscore_2023  BASE TABLE
7                   ss279m  comscore_2023  BASE TABLE
8                   ss280m  comscore_2023  BASE TABLE
9                   ss281m  comscore_2023  BASE TABLE
10                  ss282m  comscore_2023  BASE TABLE
11                  ss283m  comscore_2023  BASE TABLE
12                  ss284m  comscore_2023  BASE TABLE
13                  ss285m  comscore_2023  BASE TABLE
14                  ss286m  comscore_2023  BASE TABLE
15                  ss287m  comscore_2023  BASE TABLE
16                  ss288m  comscore_2023  BASE TABLE
17                vars2023  comscore_2023  BASE TABLE

### explore data type in table

In [7]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select table_name,table_schema,column_name,data_type
                from information_schema.columns
                where table_schema = 'comscore_2023'
                      and table_name = 'ss277m'
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result)

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

  table_name   table_schema       column_name               data_type
0     ss277m  comscore_2023        machine_id                 numeric
1     ss277m  comscore_2023   site_session_id       character varying
2     ss277m  comscore_2023   user_session_id       character varying
3     ss277m  comscore_2023         domain_id       character varying
4     ss277m  comscore_2023  ref_domain__name       character varying
5     ss277m  comscore_2023      pages_viewed                 integer
6     ss277m  comscore_2023          duration                 integer
7     ss277m  comscore_2023        event_date                    date
8     ss277m  comscore_2023        event_time  time without time zone
9     ss277m  comscore_2023          tran_flg        double precision

#### sampling data

In [9]:
import pandas as pd
import wrds

conn = wrds.Connection()

# sql_statement = """
#                 select count(*)
#                 from comscore_2023.ss277m
#                 """
sql_statement = """
                select *
                from comscore_2023.ss277m
                limit 1
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result)
result.info()

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

,machine_id,site_session_id,user_session_id,domain_id,ref_domain__name,pages_viewed,duration,event_date,event_time,tran_flg
0,76893652.0,1097439027123760560,277768936520001,14182122721287351521,google.com,1,1,2023-01-01,04:04:44,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   machine_id        1 non-null      float64
 1   site_session_id   1 non-null      object
 2   user_session_id   1 non-null      object
 3   domain_id         1 non-null      object
 4   ref_domain__name  1 non-null      object
 5   pages_viewed      1 non-null      int64
 6   duration          1 non-null      int64
 7   event_date        1 non-null      object
 8   event_time        1 non-null      object
 9   tran_flg          0 non-null      object
dtypes: float64(1), int64(2), object(7)
memory usage: 212.0+ bytes

In [11]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select *
                from comscore_2023.ss277m
                limit 5
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result)
result.info()
result['event_date'] = pd.to_datetime(result['event_date'],format='%Y-%m-%d')
result['event_time'] = pd.to_datetime(result['event_time'],format='%H:%M:%S')
result.info()

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

,machine_id,site_session_id,user_session_id,domain_id,ref_domain__name,pages_viewed,duration,event_date,event_time,tran_flg
0,76893652.0,1097439027123760560,277768936520001,14182122721287351521,google.com,1,1,2023-01-01,04:04:44,None
1,76893652.0,1929555935772399943,277768936520001,17591158128419228596,google.com,5,20,2023-01-01,04:04:17,None
2,76893652.0,2522671852715459944,277768936520001,9042466792195675329,marriott.com,1,1,2023-01-01,04:17:13,None
3,76893652.0,4521134975717184835,277768936520001,5078454264594108662,None,2,0,2023-01-01,04:15:37,None
4,76893652.0,4661797897909298676,277768936520001,7373198621107881927,google.com,1,1,2023-01-01,04:26:20,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   machine_id        5 non-null      float64
 1   site_session_id   5 non-null      object
 2   user_session_id   5 non-null      object
 3   domain_id         5 non-null      object
 4   ref_domain__name  4 non-null      object
 5   pages_viewed      5 non-null      int64
 6   duration          5 non-null      int64
 7   event_date        5 non-null      object
 8   event_time        5 non-null      object
 9   tran_flg          0 non-null      object
dtypes: float64(1), int64(2), object(7)
memory usage: 532.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   machine_id        5 non-null      float64
 1   site_session_id   5 non-null      object
 2   user_session_id   5 non-null      object
 3   domain_id         5 non-null      object
 4   ref_domain__name  4 non-null      object
 5   pages_viewed      5 non-null      int64
 6   duration          5 non-null      int64
 7   event_date        5 non-null      datetime64[ns]
 8   event_time        5 non-null      datetime64[ns]
 9   tran_flg          0 non-null      object
dtypes: datetime64[ns](2), float64(1), int64(2), object(5)
memory usage: 532.0+ bytes

#### date/time manipulation

In [13]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select *
                from comscore_2023.ss277m
                limit 5
                """

result = conn.raw_sql(sql_statement,date_cols=['event_date'])
result['event_time'] = pd.to_datetime(result['event_time'],format='%H:%M:%S')

conn.close()
result.info()

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   machine_id        5 non-null      float64
 1   site_session_id   5 non-null      object
 2   user_session_id   5 non-null      object
 3   domain_id         5 non-null      object
 4   ref_domain__name  4 non-null      object
 5   pages_viewed      5 non-null      int64
 6   duration          5 non-null      int64
 7   event_date        5 non-null      datetime64[ns]
 8   event_time        5 non-null      datetime64[ns]
 9   tran_flg          0 non-null      object
dtypes: datetime64[ns](2), float64(1), int64(2), object(5)
memory usage: 532.0+ bytes

In [16]:
display(result)

,machine_id,site_session_id,user_session_id,domain_id,ref_domain__name,pages_viewed,duration,event_date,event_time,tran_flg
0,76893652.0,1097439027123760560,277768936520001,14182122721287351521,google.com,1,1,2023-01-01,1900-01-01 04:04:44,None
1,76893652.0,1929555935772399943,277768936520001,17591158128419228596,google.com,5,20,2023-01-01,1900-01-01 04:04:17,None
2,76893652.0,2522671852715459944,277768936520001,9042466792195675329,marriott.com,1,1,2023-01-01,1900-01-01 04:17:13,None
3,76893652.0,4521134975717184835,277768936520001,5078454264594108662,None,2,0,2023-01-01,1900-01-01 04:15:37,None
4,76893652.0,4661797897909298676,277768936520001,7373198621107881927,google.com,1,1,2023-01-01,1900-01-01 04:26:20,None

#### filter valid data by where

In [19]:
import pandas as pd
import wrds

conn = wrds.Connection()

# sql_statement = """
#                 select *
#                 from comscore_2022.domains2022
#                 limit 20
#                 """
sql_statement = """
                select *
                from comscore_2022.domains2022
                where position('.' in domain_name) > 0
                limit 20
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result)

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

               domain_id                   domain_name
0   10000002250592451543              bobbiewygant.com
1   10000009318275943204              fixturelogic.com
2   10000014430890054728                thebushmen.net
3   10000034864329602240                   vinnies.nyc
4   10000041320764275948             professionday.com
5   10000053477489672587                    npporn.com
6   10000059120462452974           clarityinfotech.com
7   10000070071977419591               executiveor.com
8   10000072630738492099          valleyviewhealth.org
9   10000075508765329296                turbosmurfs.gg
10  10000086204532136599   sassysublimationscreens.com
11  10000087023511657543              goboardmaker.com
12  10000090162421865547                    tagmin.com
13  10000090525796349710        freedomtreeservice.com
14  10000100125795179273                     sdale.org
15  10000114912498134540        myitalianlessons.co.uk
16  10000123810016419828                 lylesauto.com
17  10000128499052454708  billiondodgechryslerjeep.com
18  10000137628952733324                       yelp.es
19  10000160112633335907               lewiscounty.com

### join

#### inner join (join)

In [21]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select vst.machine_id, vst.event_time,
                       dmn.domain_name, vst.ref_domain__name,
                       vst.pages_viewed,vst.duration
                from comscore_2023.ss277m vst
                join comscore_2023.domains2023 dmn
                on dmn.domain_id = vst.domain_id
                where position('.' in dmn.domain_name) > 0
                      and vst.event_date = '20230130'
                limit 20
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result)

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

,machine_id,event_time,domain_name,ref_domain__name,pages_viewed,duration
0,100026976.0,06:26:27,ebay.com,None,2,0
1,100026976.0,05:35:35,mnconnections.com,None,5,0
2,100026976.0,06:26:32,yahoosandbox.com,yahoo.com,1,1
3,100026976.0,16:34:13,googletagmanager.com,uline.com,1,1
4,100026976.0,16:36:35,zoro.com,None,3,2
5,100026976.0,05:16:49,nextmillmedia.com,openx.net,1,1
6,100026976.0,15:58:49,yahoo.com,yahoo.com,3,2
7,100026976.0,05:14:37,yahoo.com,None,13,19
8,100026976.0,05:33:21,ebay.com,ebay.com,8,3
9,100026976.0,16:31:49,google.com,None,2,5
10,100026976.0,16:38:18,techlab-cdn.com,zoro.com,4,3
11,100026976.0,06:27:06,yahoo.com,yahoo.com,7,1
12,100026976.0,16:00:33,mnconnections.com,None,12,8
13,100026976.0,16:31:49,uline.com,None,13,3
14,100026976.0,16:37:17,yahoo.com,yahoo.com,5,0
15,100026976.0,16:38:40,merlenorman.com,None,3,0
16,100026976.0,06:27:48,yieldmo.com,None,1,1
17,100026976.0,15:52:58,ebay.com,None,15,49
18,100026976.0,15:53:58,merlenorman.com,None,10,3
19,100565151.0,20:29:21,gardeningknowhow.com,yahoo.com,1,1

#### `inner join` with subquery

In [23]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select vst30.domain_id id30, vst31.domain_id id31
                from
                ( select distinct domain_id
                  from comscore_2023.ss277m
                  where event_date = '20230130'
                ) vst30
                inner join
                ( select distinct domain_id
                  from comscore_2023.ss277m
                  where event_date = '20230131'
                ) vst31
                on vst30.domain_id = vst31.domain_id
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result.info())

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21730 entries, 0 to 21729
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id30    21730 non-null  object
 1   id31    21730 non-null  object
dtypes: object(2)
memory usage: 339.7+ KB

None

####  `left join` with subquery

In [25]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select vst30.domain_id id30, vst31.domain_id id31
                from
                ( select distinct domain_id
                  from comscore_2023.ss277m
                  where event_date = '20230130'
                ) vst30
                left join
                ( select distinct domain_id
                  from comscore_2023.ss277m
                  where event_date = '20230131'
                ) vst31
                on vst30.domain_id = vst31.domain_id
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result.info())

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46055 entries, 0 to 46054
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id30    46055 non-null  object
 1   id31    21730 non-null  object
dtypes: object(2)
memory usage: 719.7+ KB

None

#### `right join` with subquery

In [26]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select vst30.domain_id id30, vst31.domain_id id31
                from
                ( select distinct domain_id
                  from comscore_2023.ss277m
                  where event_date = '20230130'
                ) vst30
                right join
                ( select distinct domain_id
                  from comscore_2023.ss277m
                  where event_date = '20230131'
                ) vst31
                on vst30.domain_id = vst31.domain_id
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result.info())

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47061 entries, 0 to 47060
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id30    21730 non-null  object
 1   id31    47061 non-null  object
dtypes: object(2)
memory usage: 735.5+ KB

None

#### `full join` with subquery

In [28]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select vst30.domain_id id30, vst31.domain_id id31
                from
                ( select distinct domain_id
                  from comscore_2023.ss277m
                  where event_date = '20230130'
                ) vst30
                full join
                ( select distinct domain_id
                  from comscore_2023.ss277m
                  where event_date = '20230131'
                ) vst31
                on vst30.domain_id = vst31.domain_id
                """

result = conn.raw_sql(sql_statement)

conn.close()
display(result.info())

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71386 entries, 0 to 71385
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id30    46055 non-null  object
 1   id31    47061 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

None

In [30]:
display(result.head(10))

                   id30                  id31
0  10000075508765329296                  None
1                  None   1000091261717211709
2  10000922996762697697  10000922996762697697
3  10001281683900488738                  None
4  10001350096691351615  10001350096691351615
5  10001426492490873762                  None
6  10001581638861887646                  None
7                  None  10002340971973387051
8  10003035306825213952                  None
9  10003107741488823887  10003107741488823887

### join: example case

In [30]:
import pandas as pd
import wrds

date_num = [str(x) if x > 9 else '0{0}'.format(x) for x in range(1,11)]

visits = list()
conn = wrds.Connection()
for num in date_num:
  sql_statement = """
                  select vst.event_date,dmn.domain_name,
                         sum(vst.pages_viewed) as pages_viewed
                  from comscore_2023.ss277m vst
                  inner join comscore_2023.domains2023 dmn
                  on vst.domain_id = dmn.domain_id
                  where vst.event_date = '202301{0}'
                        and right(dmn.domain_name,4) = '.com'
                  group by vst.event_date,dmn.domain_name
                  order by pages_viewed desc
                  limit 5
                  """.format(num)
  visit = conn.raw_sql(sql_statement,date_cols=['event_date'])
  visits.append(visit)
conn.close()
df_visit = pd.concat(visits)
df_visit.head(10)

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

  event_date             domain_name  pages_viewed
0 2023-01-01              google.com         62771
1 2023-01-01             youtube.com         43692
2 2023-01-01                bing.com         42377
3 2023-01-01                 msn.com         38342
4 2023-01-01  capitaloneshopping.com         37570
0 2023-01-02              google.com         88342
1 2023-01-02             youtube.com         54162
2 2023-01-02                bing.com         52220
3 2023-01-02  capitaloneshopping.com         50019
4 2023-01-02               yahoo.com         48668

In [19]:
import pandas as pd
import wrds

conn = wrds.Connection()

sql_statement = """
                select domain_id,count(domain_id) as visit
                from comscore_2023.ss277m
                where event_date = '20230130'
                group by domain_id
                """
vst30 = conn.raw_sql(sql_statement,date_cols=['event_date'])

sql_statement = """
                select domain_id,count(domain_id) as visit
                from comscore_2023.ss277m
                where event_date = '20230131'
                group by domain_id
                """
vst31 = conn.raw_sql(sql_statement,date_cols=['event_date'])

conn.close()
vst30.info()
vst31.info()

Enter your WRDS username [khala]: yuttapongm
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46055 entries, 0 to 46054
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   domain_id  46055 non-null  object
 1   visit      46055 non-null  int64
dtypes: int64(1), object(1)
memory usage: 719.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47061 entries, 0 to 47060
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   domain_id  47061 non-null  object
 1   visit      47061 non-null  int64
dtypes: int64(1), object(1)
memory usage: 735.5+ KB

### merge

In [24]:
df_merge = vst30.merge(vst31,on='domain_id',indicator=True,suffixes=['_30','_31'])
df_merge.info()
display(df_merge.head(10))

df_merge = vst30.merge(vst31,on='domain_id',how = 'left',
                       indicator=True,suffixes=['_30','_31']
                      )
df_merge.info()
display(df_merge.head(10))

display(df_merge[df_merge['_merge'] == 'both'].shape[0])
display(df_merge[df_merge['_merge'] == 'left_only'].shape[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21730 entries, 0 to 21729
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   domain_id  21730 non-null  object
 1   visit_30   21730 non-null  int64
 2   visit_31   21730 non-null  int64
 3   _merge     21730 non-null  category
dtypes: category(1), int64(2), object(1)
memory usage: 530.8+ KB

              domain_id  visit_30  visit_31 _merge
0  10000922996762697697         1         2   both
1  10001350096691351615         3         1   both
2  10003107741488823887         2         1   both
3  10004589383649150412         2         1   both
4  10007595142641817650         7         7   both
5  10007690477215320053         7         6   both
6  10008258641429341870        19        28   both
7  10008465703159726955         6         3   both
8  10011460954514283094         2         4   both
9  10011565692674952659         2         5   both

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46055 entries, 0 to 46054
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   domain_id  46055 non-null  object
 1   visit_30   46055 non-null  int64
 2   visit_31   21730 non-null  float64
 3   _merge     46055 non-null  category
dtypes: category(1), float64(1), int64(1), object(1)
memory usage: 1.1+ MB

              domain_id  visit_30  visit_31     _merge
0  10000075508765329296         1       NaN  left_only
1  10000922996762697697         1       2.0       both
2  10001281683900488738         1       NaN  left_only
3  10001350096691351615         3       1.0       both
4  10001426492490873762         1       NaN  left_only
5  10001581638861887646         1       NaN  left_only
6  10003035306825213952         1       NaN  left_only
7  10003107741488823887         2       1.0       both
8   1000328103126219661         1       NaN  left_only
9  10004446230461849737         1       NaN  left_only

21730

24325