# 2603655_DataAcquisition

## Week4 20240827

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
---

In [3]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
print("pandas version :",pd.__version__)
print("numpy version :",np.__version__)
print("matplotlib version :",mpl.__version__)
print("seaborn version :",sns.__version__)

pandas version : 2.2.1
numpy version : 1.26.4
matplotlib version : 3.8.4
seaborn version : 0.13.2

In [28]:
df = pd.read_csv('data/tham_luang_rescue_data.csv',
                 # parse_dates=['timestamp'],
                 # index_col=['datetime']
                )
df['timestamp']=pd.to_datetime(df['timestamp'],unit='s')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        5000 non-null   datetime64[ns]
 1   id               5000 non-null   int64
 2   mission_type     5000 non-null   object
 3   team_size        5000 non-null   int64
 4   water_level      4750 non-null   float64
 5   depth            4371 non-null   float64
 6   oxygen_level     4498 non-null   float64
 7   temperature      4381 non-null   float64
 8   victim_status    5000 non-null   object
 9   victim_count     5000 non-null   int64
 10  mission_success  5000 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 429.8+ KB

In [30]:
df.isna().sum()

timestamp            0
id                   0
mission_type         0
team_size            0
water_level        250
depth              629
oxygen_level       502
temperature        619
victim_status        0
victim_count         0
mission_success      0
dtype: int64

In [32]:
df.head()

,timestamp,id,mission_type,team_size,water_level,depth,oxygen_level,temperature,victim_status,victim_count,mission_success
0,2018-07-03 00:06:54.802960634,2943,medical,5,9.191810,4.362105,16.717150,27.871266,critical,8,1
1,2018-07-02 00:21:53.542708635,2652,rescue,4,10.122547,5.184041,9.949614,27.585167,stable,7,0
2,2018-06-25 06:45:52.390477896,672,exploration,2,13.265970,6.700720,22.294991,27.177927,stable,2,0
3,2018-06-30 22:24:39.175835133,2334,rescue,10,11.141887,5.722605,15.725127,30.659910,critical,6,0
4,2018-06-28 13:02:04.584917068,1631,exploration,10,12.147761,5.789450,4.073761,NaN,stable,4,0