# 2603655_DataAcquisition

## Pandas_beginner (OJT on Perplexity)

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
---

source: [perplexity](https://www.perplexity.ai/page/pandas-dataframe-ebuue-ngtn-5CVj3SPPR5ahkRUo5Fb0ZA)

In [8]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
print("pandas version :",pd.__version__)
print("numpy version :",np.__version__)
print("matplotlib version :",mpl.__version__)
print("seaborn version :",sns.__version__)

pandas version : 2.2.1
numpy version : 1.26.4
matplotlib version : 3.8.4
seaborn version : 0.13.2

In [11]:
from datetime import datetime
str(datetime.now())

'2024-09-09 16:42:52.684262'

### dataframe and series
- dictionary of list: *pd.DataFrame(data)*
- dictionary of list: *pd.DataFrame.from_dict(data)*
- dictionary of dictionary: *pd.DataFrame.from_dict(data, oriented='index')*
- list of dictionary: *pd.DataFrame(data)*

In [14]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
series_A = df['A']  # ดึงคอลัมน์ A ออกมาเป็น Series
display(df)
series_A

   A  B
0  1  4
1  2  5
2  3  6

0    1
1    2
2    3
Name: A, dtype: int64

In [12]:
series_A = pd.Series([1, 2, 3])
series_B = pd.Series([4, 5, 6])
df = pd.DataFrame({'A': series_A, 'B': series_B})
df

   A  B
0  1  4
1  2  5
2  3  6

### date/time data
- pd.to_datetime(series)
- df\['column'].dt.year
- df\['column'].dt.month
- df\['column'].dt.day (datetime)
- pd.Timedelta(days=1)
- series.dt.to_period('M'))
- series.dt.tz_localize('UTC')
- series.dt.tz_convert('Asia/Bangkok')
- dt.days (Timedelta)
- dt.date (extract datepart object from datetime object)

In [331]:
# Sample data
data = {'datetime': ['2023-09-16 08:00:00', '2023-09-16 09:30:00', '2023-09-16 11:15:00']}
df = pd.DataFrame(data)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

              datetime
0  2023-09-16 08:00:00
1  2023-09-16 09:30:00
2  2023-09-16 11:15:00

In [333]:
df['datetime'] = pd.to_datetime(df['datetime'])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 156.0 bytes

             datetime
0 2023-09-16 08:00:00
1 2023-09-16 09:30:00
2 2023-09-16 11:15:00

In [335]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day

df.info()
print()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  3 non-null      datetime64[ns]
 1   year      3 non-null      int32
 2   month     3 non-null      int32
 3   day       3 non-null      int32
dtypes: datetime64[ns](1), int32(3)
memory usage: 192.0 bytes

             datetime  year  month  day
0 2023-09-16 08:00:00  2023      9   16
1 2023-09-16 09:30:00  2023      9   16
2 2023-09-16 11:15:00  2023      9   16

In [337]:
# # Sample data with DateTime
# data = {'Timestamp': ['2023-09-15 08:00:00', '2023-09-15 12:30:00', '2023-09-16 10:15:00', '2023-09-16 14:45:00'],
#         'Value': [50, 75, 60, 85]}

# df = pd.DataFrame(data)

# # Convert the 'Timestamp' column to DateTime
# df['Timestamp'] = pd.to_datetime(df['Timestamp'])
# df

In [339]:
start_date = pd.to_datetime('2023-09-15')
end_date = pd.to_datetime('2023-09-16')
filtered_df = df[(df['datetime'] >= start_date) & (df['datetime'] <= end_date)]
df

             datetime  year  month  day
0 2023-09-16 08:00:00  2023      9   16
1 2023-09-16 09:30:00  2023      9   16
2 2023-09-16 11:15:00  2023      9   16

In [341]:
# Create two DateTime objects
start_time = pd.to_datetime('2023-09-15 08:00:00')
end_time = pd.to_datetime('2023-09-15 10:30:00')

time_difference = end_time - start_time
time_difference

Timedelta('0 days 02:30:00')

In [343]:
df['new_date'] = df['datetime'] + pd.Timedelta(days=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  3 non-null      datetime64[ns]
 1   year      3 non-null      int32
 2   month     3 non-null      int32
 3   day       3 non-null      int32
 4   new_date  3 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int32(3)
memory usage: 216.0 bytes

In [345]:
df

             datetime  year  month  day            new_date
0 2023-09-16 08:00:00  2023      9   16 2023-09-17 08:00:00
1 2023-09-16 09:30:00  2023      9   16 2023-09-17 09:30:00
2 2023-09-16 11:15:00  2023      9   16 2023-09-17 11:15:00

In [347]:
monthly_data = df.groupby(df['datetime'].dt.to_period('M')).mean()
monthly_data

                    datetime    year  month   day            new_date
datetime
2023-09  2023-09-16 09:35:00  2023.0    9.0  16.0 2023-09-17 09:35:00

In [349]:
df['new_date_local'] = df['datetime'].dt.tz_localize('UTC').dt.tz_convert('Asia/Bangkok')
df

,datetime,year,month,day,new_date,new_date_local
0,2023-09-16 08:00:00,2023,9,16,2023-09-17 08:00:00,2023-09-16 15:00:00+07:00
1,2023-09-16 09:30:00,2023,9,16,2023-09-17 09:30:00,2023-09-16 16:30:00+07:00
2,2023-09-16 11:15:00,2023,9,16,2023-09-17 11:15:00,2023-09-16 18:15:00+07:00

### string data

In [ ]:
# df['column'] = df['column'].str.method()
# df['column'] = df['column'].str.upper()  # แปลงเป็นตัวพิมพ์ใหญ่
# df['column'] = df['column'].str.lower()  # แปลงเป็นตัวพิมพ์เล็ก
# df['column'] = df['column'].str.strip()  # ตัดช่องว่างทั้งหัวและท้าย
# df['column'] = df['column'].str.lstrip()  # ตัดช่องว่างด้านซ้าย
# df['column'] = df['column'].str.rstrip()  # ตัดช่องว่างด้านขวา
# df['column'] = df['column'].str.replace('old', 'new')
# df['new_column'] = df['column'].str.split(',')
# df['new_column'] = df['column'].str[0:5]  # เลือก 5 ตัวอักษรแรก
# df['is_valid'] = df['column'].str.contains('pattern')
# df['starts_with'] = df['column'].str.startswith('prefix')
# df['ends_with'] = df['column'].str.endswith('suffix')
# df['length'] = df['column'].str.len()

### filter data as condition

In [234]:
# df.loc['row_label', 'column_name']
# df.iloc[row_number, column_number]

In [236]:
# high_sales = walmart[walmart['Weekly_Sales'] > 1000000]

In [238]:
# holiday_high_sales = walmart[(walmart['Holiday_Flag'] == 1) & (walmart['Weekly_Sales'] > 1000000)]

In [240]:
# selected_stores = walmart[walmart['Store'].isin([1, 2, 3])]

In [242]:
# holiday_sales = walmart.query('Holiday_Flag == 1')

### groupby

In [245]:
# grouped = df.groupby('column_name')
# grouped = df.groupby(['column1', 'column2'])
# result = grouped['column_name'].mean()  # ค่าเฉลี่ย
# result = grouped['column_name'].sum()   # ผลรวม
# result = grouped['column_name'].count() # นับจำนวน

In [247]:
# result = grouped.agg({
#     'column1': 'sum',
#     'column2': ['min', 'max'],
#     'column3': 'mean'
# })

In [249]:
# def custom_func(x):
#     return x.max() - x.min()

# result = grouped.agg(custom_func)

In [251]:
# result = grouped.agg(
#     max_duration=('duration', 'max'),
#     min_duration=('duration', 'min'),
#     total_duration=('duration', 'sum')
# )

In [253]:
# result = grouped.filter(lambda x: x['column_name'].mean() > 100)

### add,delete column

In [ ]:
# df['new_column'] = 5
# df['total'] = df['price'] * df['quantity']

# new_series = pd.Series([1, 2, 3, 4, 5])
# df['new_column'] = new_series

# df[['col1', 'col2']] = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6]})

# df.insert(1, 'new_column', [1, 2, 3])

# df = df.drop('column_name', axis=1)

# df = df.drop(['col1', 'col2', 'col3'], axis=1)

# del df['column_name']

# df = df.drop(df.columns[df.columns.str.contains('unwanted')], axis=1)

# unique_values_list = df['a'].unique().tolist()

In [ ]:
pandas.Index.to_list
pandas.Series.to_list
numpy.ndarray.tolist